<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Url Shortner</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <!--link href="lib/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css"-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



    <link href="css/main.css" rel="stylesheet">

  </head>

  <body>
    <!-- Page Header -->
    <header class="page-header">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1 class="header" >Simplify Links</h1>
              <form action="/urls/store" method="Post" enctype="application/json">
                <input class="url-input" id="input-form" placeholder="Enter Url" name="Url">
                <button class="btn">GO</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="mx-auto">
          <table style="width: 100%" class="table table-striped table-responsive">
            <tr>
              <th>Original Url</th>
              <th>Short Url</th>
              <th>Created On</th>
              <th>Clicks</th>
            </tr>
            @each(url in urls)
            <tr>
                <td><a href="/{{url.hash}}" target="_blank">{{url.displayUrl}}</a></td>
                <td><a href="/{{url.hash}}" target="_blank">{{url.newUrl}}</a></td>
                <td>{{url.createdOn}}</td>
                <td>{{url.visited}}</td>
            </tr>
            @endeach
          </table>

          <!-- Pager>
          <div class="clearfix">
            <a class="btn btn-primary float-right" href="#">Older&rarr;</a>
          </div-->
        </div>
      </div>
    </div>

    <hr>


    <!--JavaScript -->
  <script src="js/main.js"></script>
  <script>
      window.onscroll = function() {myFunction()};
  </script>



  </body>

</html>
